.total-picture {
  position: relative;
  padding: 60px;
}

#octopus {
  position: absolute;
  margin: auto;
}

#hat {
  position: absolute;
  float: top;
  margin: auto;

}

#glasses {
  
}