	body{
		font-family: helvetica;
	}
	h1 {
	  color: orange;
	}
	blockquote {
	  border: 1px solid black;
	  border-top: 10px solid gray;
	  text-overflow: clip;
	  text-overflow: ellipsis;
	  text-overflow: "[...]";
	  width: 30%;
      float: left;
      margin: 1px;
	}	
  blockquote > cite {
  	  font-weight: bold;
  }